NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyAR9CPLvcJ5OqTS2_Ep8Mn9E7_tn6TgGlA
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=mecaguard.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=mecaguard
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=mecaguard.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=857217270431
NEXT_PUBLIC_FIREBASE_APP_ID=1:857217270431:web:7cb2f7e29826539b85d8aa
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_CREDIT_PRICE_MXN=20
